.hero {
    background: url("../accesst/welcomehome-1040x693.jpg");
    min-height: calc(100vh - 120px);
    background-size: cover;
    background-position: center;

    .container {
        .card-custom {
            background-color: #fff;
            margin-top: 200px;

            .btn:focus {
                box-shadow: 0 0 0 0;
            }
        }
    }
}